<section class="section background">
  <div class="section__title">À propos</div>
  <div class="section__content">
    <p>
      Je suis né et j’ai grandi près de Cherbourg, dans la Manche. J’ai étudié l’Histoire et la Science Politique à Rennes, puis le
      management des médias à Paris. Je suis diplômé du CELSA Sorbonne Université.
    </p>

    <p>
      En 2011, j’ai cofondé <a class="underline-link" href="https://maze.fr/" target="_blank">Maze</a>, le premier média
      d’initiative jeune en France. Je suis engagé au sein d’<a class="underline-link" href="https://animafac.net/" target="_blank">Animafac</a>, le réseau national des
      associations étudiantes depuis 2014, j’en suis le président depuis septembre 2018. À la fin de mes études,
      j’ai rejoint l’équipe du <a class="underline-link" href="https://media.letank.fr/"  target="_blank">Tank media</a> où j’ai pu contribuer à construire et animer
      une communauté de porteuses et porteurs de projets dans les médias.
    </p>

    <p>
      Attaché aux détails et convaincu que la forme et l’identité sont essentielles pour se faire comprendre, j’ai cofondé
      en 2019 un studio de création de sites internet et identités visuelles, <a class="underline-link" href="https://agencestudieux.com/" target="_blank">Agence Studieux</a>. Je suis également le directeur
      de la publication et du développement de la revue <a class="underline-link" href="https://pays-revue.com/" target="_blank">Pays</a>, que nous comptons lancer en 2021.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
