<section class="section background">
  <div class="section__title">À propos</div>
  <div class="section__content">
    <p>
       Je suis le cofondateur de <a class="underline-link" href="https://medianes.org/"  target="_blank">Médianes</a> : un centre de ressources, un réseau d’entraide et un studio dédié aux médias,
       à celles et ceux qui les fondent, et à celles et ceux qui les font.
    </p>

    <p>
      Passé par l’agence Spintank, j'y ai créé et animé la communauté du Tank media, un réseau de 300 fondateurs
      et fondatrices de médias. Je suis également cofondateur et en charge du développement de la revue <a class="underline-link" href="https://pays-revue.com/"  target="_blank">Pays</a>, semestriel papier dédié aux territoires.
    </p>

    <p>
      J'imagine et développe des produits éditoriaux, de l’idée à l’intégration, et suis spécialiste
      des communautés, des campagnes de financement participatif et du développement de sites pour les médias.
      Dirigeant associatif, j'ai été président d’<a class="underline-link" href="https://animafac.net/"  target="_blank">Animafac</a>, le réseau national des associations étudiantes.
      J'ai également cofondé <a class="underline-link" href="https://maze.fr/"  target="_blank">Maze.fr</a>, le premier média d’initiative jeune en France.
    </p>

    <p>
      Je suis né et j’ai grandi près de Cherbourg, dans la Manche. J’ai étudié l’Histoire et la Science Politique à Rennes, puis le
      management des médias à Paris. Je suis diplômé du CELSA Sorbonne Université.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
